@model Drugi_projekat.models.Order

@{
    ViewData["Title"] = "Order details";
    var order = Model ?? new Drugi_projekat.models.Order();
}


<div>
    <h3>Order details</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @if(order.OrderDate is not null)
                @order.OrderDate.Value.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd class = "col-sm-10">
            @if(order.RequiredDate is not null)
                @order.RequiredDate.Value.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class = "col-sm-10">
            @if(order.ShippedDate is not null)
                @order.ShippedDate.Value.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @if(order.Customer is not null)
                @order.Customer.CompanyName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @if(order.Employee is not null)
                @($"{order.Employee.LastName} {order.Employee.FirstName}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipViaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @if(order.ShipViaNavigation is not null)
                @order.ShipViaNavigation.CompanyName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
